<% begin %> 
	<% @this_business_theme = @business_themes.detect { |business_theme| business_theme[:guid] == params[:guid] } %>
	<h2>recent articles tagged with "<%= @this_business_theme[:label] %>"</h2>	
    <% @results.each do |result| %>
      <table>
        <tr>
          <td rowspan="3"><img width="128" src="<%= result['thumbnail'][1]['@id'] %>" /></td>
          <td><strong><a href="<%= result['@id'] %>"><%= result['title'] %></a></strong></td>
        </tr>
        <tr>
          <td><%= result['description'] %></td>
        </tr>
        <tr>  
          <td valign="top"><%= result['dateModified'] %></td>
        </tr>
      </table>
    <% end %>
<% rescue => e %>
      <p style="padding-left:2em">no articles tagged with "<%= @this_business_theme[:label] %>" yet</p> 
<% end %> 
